p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.videoTitle {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}

.videoStat {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.videoAuthor {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.videoDescription {
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;
}

.appleText {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  padding: 20px 0;
}

.shopLink {
  cursor: pointer;
}

.shopLink:hover {
  text-decoration: underline;
}
