p {
  margin: 0;
}

.overlayContainer {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theBox {
  background-color: white;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
}

.title {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}

.desc {
  font-family: Arial;
  margin-bottom: 12px;
}
